@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

*:hover {
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.App {
  text-align: center;
}
